<app-header></app-header>

<app-default-layout>
  <div class="row align-items-stretch justify-content-start p-2">
    <div class="col-12 col-md-3 card bg-light-blue mb-4">
      <div class="fs-3 fw-bold text-primary">{{  total_meals_amount}}</div>
      <div class="font-size-sm">Total meal Amount</div>
    </div>
    <div class="col-12 col-md-3 card bg-light-red ms-md-4 mb-4">
      <div class="fs-3 fw-bold text-danger">{{ total_meals_today }}</div>
      <div class="font-size-sm">Total meal Today</div>
    </div>
     <div class="col-12 col-md-3 card bg-light-success ms-md-4 mb-4">
      <div class="fs-3 fw-bold text-success">{{all_requests }}</div>
      <div class="font-size-sm">All Request</div>
    </div>
  </div>

</app-default-layout>




